# Фреймворк для разработки веб интерфейса
Flask==2.1.3

# ORM для работы с базой данных
SQLAlchemy==1.4.44

# Библиотека для математических расчетов
NumPy==1.23.5

# Библиотека для анализа данных и генерации отчетов
pandas==1.5.3

# Библиотека для создания графиков и визуализации данных
matplotlib==3.6.2

# Дополнительные интерактивные графики
plotly==5.11.0

# Библиотека для работы с тестированием
pytest==7.2.0

# Библиотека для управления конфигурацией и проверки данных
pydantic==1.10.2

# Библиотека для аутентификации и управления пользователями
Flask-Login==0.6.2

# Библиотека для шифрования и безопасности
cryptography==39.0.1

# Werkzeug, совместимый с Flask 2.1.3
Werkzeug==2.2.2
