<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        Управление Пенсионными Накоплениями
    </header>
   <main>
        <h1>Личный Кабинет</h1>
        <p>Добро пожаловать, {{ username }}!</p>
        <section class="container">
            <h2>Текущие пенсионные накопления</h2>
            <p>Общая сумма накоплений: <strong>{{ total_amount|format_currency }}</strong> руб.</p>
            <h3>Детали вкладов:</h3>
            <table class="contribution-table">
                <thead>
                    <tr>
                        <th>Сумма (руб.)</th>
                        <th>Дата взноса</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                        <tr class="{{ loop.cycle('odd', 'even') }}">
                            <td>{{ detail.amount|format_currency }}</td>
                            <td>{{ detail.contribution_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Прогнозируемая доходность</h2>
            <p>Через {{ years }} лет при ставке {{ interest_rate }}%: <strong>{{ projected_return|format_currency }}</strong> руб.</p>
            <a href="/investments" class="button investments-button">Перейти к инвестициям</a>
        </section>
        {% if session['role'] == 'admin' %}
            <a href="/admin_panel" class="button">Перейти в Админ Панель</a>
        {% endif %}
       {% if session['role'] == 'manager' %}
            <a href="/admin_panel" class="button">Перейти в панель менеджера</a>
        {% endif %}
        <button id="contribute-button" class="button">Пополнить Накопления</button>
        <button id="withdraw-button" class="button">Снять Средства</button>
        <a href="/logout" class="button">Выйти</a>
    </main>

    <!-- Модальное окно пополнения -->
    <div id="contribute-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Пополнение пенсионных накоплений</h2>
            <form action="/contribute" method="post">
                <label for="amount">Введите сумму вклада (в рублях):</label>
                <input type="number" id="amount" name="amount" min="1" step="0.01" required>
                <button type="submit" class="button">Внести Вклад</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно снятия средств -->
    <div id="withdraw-modal" class="modal">
        <div class="modal-content">
            <span class="close-button withdraw-close-button">&times;</span>
            <h2>Снятие пенсионных накоплений</h2>
            <form action="/withdraw" method="post">
                <label for="withdraw-amount">Введите сумму для снятия (в рублях):</label>
                <input type="number" id="withdraw-amount" name="amount" min="1" step="0.01" required>
                <button type="submit" class="button">Снять Средства</button>
            </form>
        </div>
    </div>

    <footer>
        &copy; 2024 Управление Пенсионными Накоплениями
    </footer>
</body>
</html>
